.nav-bar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #2C3034;
    padding: 10px 0;
}

.profile{
    display: flex;
    align-items: center;
    color: #BBBBBD;
    margin-right: 30px;
    margin-left: 10px;
}

.search-box{
    display: flex;
    width: 60%;
    margin-left: 20px;
    align-items: center;
}

.search-box input{
    width: 80%;
    border-radius: 15px;
    outline: none;
    border: none;
    font-size: 11px;
    padding: 7px 10px 7px 10px;
    background-color: #7F7F7F;
}

.profile > .image-wrap{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 20px;
}

.profile > .image-wrap > img{
    border-radius: 100%;
}