@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    /* overflow: hidden; */
}

body{
    font-family: 'Roboto', sans-serif;
}

.dashboard{
    display: flex;
}

.image-wrap{
    width: 70px;
    height: 70px;
}

.image-wrap img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.icon-wrap{
    height: 25px;
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrap i{
    color: #BBBBBD;
}

.main-section{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    background-color: #23242B;
    overflow-y: scroll;
}

hr{
    border-bottom: #BBBBBD solid 1px;
}
